.offcanvas.offcanvas-center.show:not(.hiding), .offcanvas.offcanvas-center.showing {
    opacity: 1;
    transform: translateX(-50%);
    justify-content: center;
}

.offcanvas.offcanvas-center {
    background-color: transparent;
    top: 0;
    left: 50%;
    width: auto;
    border-right: none;
    transform: translateX(-50%) scale(.6);
    opacity: 0;
    --bs-offcanvas-transition: opacity .15s linear, transform .15s linear;
}