<div class="offcanvas offcanvas-center justify-content-center" data-bs-backdrop="static" tabindex="-1" [attr.id]="'setPasswordModel-' + id" aria-labelledby="setPasswordModelLabel">

								<!-- Model content -->
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-body rounded-4 shadow">
			<div class="modal-header p-5 pb-4 border-bottom-0">
				<h1 class="fw-bold mb-0 fs-2">Set password</h1>
				<button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div> 

			<div class="modal-body p-5 pt-0">
				<form [formGroup]="passwordForm">
					<div class="form-floating mb-3">
						<input type="password" class="form-control rounded-3 bg-light" [class.is-invalid]="password1?.invalid && password1?.dirty" [attr.id]="'password1-' + id" [attr.autocomplete]="'new-password'" formControlName="password1">
						<label [attr.for]="'password1-' + id">Password</label>
						<ul class="invalid-feedback list-unstyled">
				            <li class="list-item" *ngIf="password1?.errors?.['required']">This field is require</li>
				            <li class="list-item" *ngIf="password1?.errors?.['minlength']">Password length should be atleast {{ password1?.errors?.['minlength'].requiredLength }} characters</li>
				            <li class="list-item" *ngIf="password1?.errors?.['containsSpace']">No space is allowed</li>
				        </ul>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control rounded-3 bg-light" [class.is-invalid]="password2?.invalid && password2?.dirty" [attr.id]="'password2-' + id" [attr.autocomplete]="'current-password'" formControlName="password2">
						<label [attr.for]="'password2-' + id">Confirm password</label>
				        <ul class="invalid-feedback list-unstyled">
				            <li class="list-item" *ngIf="password2?.errors?.['required']">Re-enter the password</li>
				            <li class="list-item" *ngIf="password2?.errors?.['mismatch']">No space is allowed</li>
				        </ul>
					</div>
					<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" (click)="onSave()">Save password</button>
					<small class="text-body-secondary">By clicking save password, you agree to the terms of use.</small>
				</form>
			</div>
		</div>
	</div>
								<!-- Model content end -->
</div>